/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto';
  }
  
  
  
  a {
      text-decoration: none !important;
      color: initial;
  }
  
  .red {
      color: red;
  }
  
  .blue {
      color: blue;
  }
  
  .green {
      color: green;
  }
  
  .bg-red {
      background-color: red !important;
  }
  
  
  