.tab-pane {
    padding: 2rem 0;
  }
  
  .card {
    border: none;
    
    .card-body {
        
    }
  }
  
  #sort-site {
    .dropdown {
        background: transparent !important;
    }
  }
  
  
  
  